Lab5/online-store/src/app/product-list/product-list.component.ts
Lab5/online-store/src/app/product-list/product-list.component.html
Lab5/online-store/src/app/product-list/product-list.component.css
Lab5/online-store/src/app/product-item/product-item.component.ts
Lab5/online-store/src/app/product-item/product-item.component.html
Lab5/online-store/src/app/product-item/product-item.component.css
Lab5/online-store/.angular/cache/19.1.8/online-store/.tsbuildinfo
/Lab9/hh-back/myvenv
/Lab8/shop_back/myvenv
